#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
}

#left {
    position: relative;
    height: 100%;
}

#cta-circle {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #086788;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -15vw;
    top: -15vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

#cta-text {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 200px;
    left: 500px;
    font-family: exo2;
    transform: translate(100px, 100px);
}

#right {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: -15vw;
}

#whatis {
    border-radius: 10vw;
    width: 90vw;
    height: 100vh;
    background: cyan;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

}