#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    --main-task-size: 50%;
}

#top-bar {
    width: 70%;
}

#tasklist-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-bar {
    position: absolute;
    width: 60%;
    top: 90%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 100px;
    background: linear-gradient(135deg, aqua, rgb(64, 91, 160));
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
}

#add-bar:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, rgb(0, 231, 231), rgb(48, 73, 134));

}

#add-bar:active {
    transform: translateY(2px);
    background: linear-gradient(135deg, rgb(0, 203, 203), rgb(37, 60, 118));
}

.side-buttons {
    width: calc((100% - var(--main-task-size)) / 2);
    height: 100%;
}

#main-middle {
    width: var(--main-task-size);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container {
    border-radius: 1rem;
    background-color: navajowhite;
    border: 1px solid black;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.task-card {
    height: 15%;
    background: lightblue;
}

#main-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#main-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#complete-button {
    height: 20%;
}

#delay-button {
    height: 20%;
}

.arrow {
    cursor: pointer;
}