:root {
    --padding-top: 16px;
    --padding-left: 15vw;
    --padding-right: 15vw;
    --padding-bottom: 16px;
    --base: #086788;
}

@font-face {
    font-family: 'exo2';
    src: url('../assets/exo2fontreal.ttf');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    height:10vh;
    width: 100vw;
    border-bottom: 1px solid gray;
    display:flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;
    background: white;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#nav-left {
    height: 100%;
    padding-lefT: var(--padding-left);

}

#nav-right {
    height: 100%;
    display:flex;
    justify-content: flex-end;
    padding-right: var(--padding-right);
}

#swiper-icon {
    aspect-ratio: 1/1;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}

#home-button {
    padding: 0;
    height:100%;
    display:flex;
    align-items: center;
    font-family: exo2;
    font-size: 2em;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

#profile-icon {
    aspect-ratio: 1/1;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}

#profile-button {
    padding: 0;
    border-radius: 100%;
    border: 1px solid var(--base);
    height: 100%;
    justify-self: end;
    margin-left: 32px;
}

#about-button {
    background: none;
    border: 1px solid var(--base);
    cursor: pointer;
    height: 60%;
    align-self: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: var(--base);
}

#about-button:hover {
    background: var(--base);
    color: white;
}