#form-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#slider {
    width: 200%;
    display: flex;
    transition: 0.5s ease;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input {
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 0.75rem;
}

input:hover {
    border-color: #888;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 1);
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

.error {
    color: red;
    margin: 0;
    margin-bottom: 2.5%;
}

button {
    cursor: pointer;
}

.primary {
    margin-top: 2.5%;
    border-radius: 1rem;
    width: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 2px solid #f5b198;
    background: linear-gradient(125deg, #ffecd2, #fcb69f);
    transition: transform 0.1s ease;
}

.primary:hover {
    background: linear-gradient(135deg, #fcb69f, #fa9372);
    border: 2px solid #fa9372;
}

.primary:focus {
    background: linear-gradient(135deg, #fa9372, #e06d52);
    border: 2px solid #f5b198;
    transform: translateY(2px);
}

.secondary {
    margin-top: 2.5%;
    border-radius: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 2px solid #b0d6f9;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    transition: transform 0.1s ease;
}

.secondary:hover {
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    border: 2px solid #92c1ee;
}

.secondary:focus {
    transform: translateY(2px);
    background: linear-gradient(135deg, #9cbfd0, #6b94d5);
}

#login-secondaries {
    width: 50%;
    text-align: center;
}

#dual-button {
    display:flex;
    gap: 1rem;
}

#to-register {
    width: 50%;
}

#to-login {
    padding: 1rem;
}

#login-guest {
    width: 50%;
}