.main-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(75vh - 32px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding-top: calc(32px + 10vh);
    padding-bottom: 15vh;
}

#real-form {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: auto;
}

.form-card {
    width: 100%;
    border: 2px solid red;
    background: blue;
    gap: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

#title {

}

#description {

}